:root {
    /* Primary */
    --red: hsl(0, 100%, 74%); 
    --green: hsl(154, 59%, 51%);

    /* Accent */
    --blue: hsl(248, 32%, 49%);

    /* Neutral */
    --dark-blue: hsl(249, 10%, 26%); 
    --grayish-blue: hsl(246, 25%, 77%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

footer { 
    font-size: 1.1rem; 
    text-align: center; 
}

footer a { 
    color: hsl(228, 45%, 44%); 
}